#about .banner_about {
  position: relative;
  padding-top: 90px;
  color: #fff;
}
#about .banner_about .video .video_banner_YT {
  height: calc(100vh - 90px);
}
@media (max-width: 768px) {
  #about .banner_about .video .video_banner_YT {
    height: 400px;
  }
}
#about .banner_about .img_banner {
  display: flex;
  position: relative;
}
#about .banner_about .img_banner img {
  -o-object-fit: cover;
     object-fit: cover;
}
#about .banner_about .img_banner img:nth-child(1) {
  width: 60%;
  height: 500px;
  z-index: 1;
}
#about .banner_about .img_banner img:nth-child(2) {
  position: absolute;
  right: 0;
  top: -30%;
  width: 50%;
  height: 500px;
}
#about .about_us,
#about .about_mission {
  color: #fff;
  padding-top: 100px;
}
#about .about_mission {
  padding-top: calc(100px - 1rem);
}
#about .about_us .left,
#about .about_mission .right {
  padding-right: 3rem;
}
#about .about_us .left h6,
#about .about_mission .right h6 {
  margin-bottom: 2rem;
}
#about .about_us .left article,
#about .about_mission .right article {
  margin-left: 90px;
  opacity: 0.7;
}
#about .about_us .left .param,
#about .about_mission .right .param {
  padding-left: 90px;
  margin-top: 4rem;
}
#about .about_us .left .param .item,
#about .about_mission .right .param .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#about .about_us .left .param .item p,
#about .about_mission .right .param .item p {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin: 0;
  opacity: 0.7;
  font-size: 12px;
}
#about .about_us .left .param .item .number,
#about .about_mission .right .param .item .number {
  font-size: 4rem;
  font-family: var(--font-body);
  line-height: 1;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  #about .about_us .left .param .item .number,
  #about .about_mission .right .param .item .number {
    font-size: 3.2rem;
  }
}
#about .about_us .left .param .item article,
#about .about_mission .right .param .item article {
  margin: 0;
  opacity: 0.7;
  font-size: 0.9rem;
  width: 70%;
}
#about .about_us .right,
#about .about_mission .left {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .about_us .right .play_video,
#about .about_mission .left .play_video {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
#about .about_us .right .play_video:hover,
#about .about_mission .left .play_video:hover {
  transform: scale(0.95);
}
#about .about_us .right .play_video .svg,
#about .about_mission .left .play_video .svg {
  width: 180px;
  height: 180px;
  border: 1px solid rgba(255, 255, 255, 0.2901960784);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .about_us .right .play_video span,
#about .about_mission .left .play_video span {
  color: var(--color-yellow);
  position: relative;
  margin-left: 25px;
}
#about .about_us .right .play_video span::after,
#about .about_mission .left .play_video span::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  background: var(--color-yellow);
  transform: translate(0, -50%);
  right: 110%;
  top: 50%;
}
#about .about_us .right .polygon_img img,
#about .about_mission .left .polygon_img img {
  width: 100%;
  height: auto;
  min-height: auto;
  max-height: 480px;
}
#about .about_mission .content_title {
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2em;
  font-size: 1.1rem;
  color: #fff;
  opacity: 1 !important;
  width: -moz-max-content;
  width: max-content;
}
#about .about_mission h6 + .content_title {
  margin-top: 0;
}
@media (max-width: 768px) {
  #about .about_mission .row {
    flex-direction: column-reverse;
  }
  #about .about_mission .row .img {
    margin-top: 2.5rem;
  }
  #about .about_mission .row .img img {
    max-height: 300px;
  }
  #about .about_mission .row .right {
    padding-right: 0;
  }
  #about .about_mission .row .right .content_title {
    margin-top: 3rem;
  }
  #about .about_mission .row .right article {
    margin-left: 0;
  }
}
#about .about_vision {
  background-blend-mode: multiply;
  background-color: rgba(19, 30, 40, 0.9);
  color: #fff;
  margin: 100px 0;
  padding: 75px 0;
  position: relative;
  margin-bottom: 2px !important;
}
#about .about_vision table {
  width: 70%;
  margin: auto;
}
#about .about_vision table tr td:nth-child(1) {
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  padding-right: 2rem;
  text-transform: uppercase;
  color: var(--color-yellow);
  font-family: "SVN-Gotham-bold";
  border-right: 1px solid var(--color-yellow);
}
#about .about_vision table tr td:nth-child(2) {
  opacity: 0.8;
  text-transform: uppercase;
  padding-left: 2rem;
}
#about .about_vision table tr:nth-child(1) td:nth-child(1) {
  position: relative;
}
#about .about_vision table tr:nth-child(1) td:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--color-yellow);
  border-radius: 50%;
  right: -5px;
  bottom: -0.25rem;
}
#about .about_vision table tr:nth-child(1) td:nth-child(2) {
  padding-bottom: 1rem;
}
#about .about_vision table tr:nth-child(2) td:nth-child(2) {
  padding-top: 1rem;
}
@media (max-width: 640px) {
  #about .about_vision table tr {
    display: flex;
    flex-flow: column;
  }
  #about .about_vision table tr:nth-child(1) td:nth-child(1)::after {
    display: none;
  }
  #about .about_vision table tr:nth-child(1) td:nth-child(2) {
    padding-top: 1rem;
  }
  #about .about_vision table tr td:nth-child(1) {
    border-right: none;
  }
}
@media (max-width: 640px) {
  #about .about_vision table {
    width: 100%;
  }
}
#about .about_vision .comon {
  position: absolute;
  top: -35px;
  width: 50px;
  opacity: 0.5;
}
#about .about_vision .title_value {
  margin-top: 0 !important;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-yellow);
  font-family: "SVN-Gotham-bold";
  margin-top: 3rem;
  margin-bottom: 2rem;
}
#about .about_vision .about_value .item {
  flex: 0 0 19%;
  max-width: 19%;
  margin: 10px;
}
#about .about_vision .about_value .item img {
  width: 100%;
  height: auto;
  min-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  #about .about_vision .about_value {
    flex-wrap: wrap;
    justify-content: center;
  }
  #about .about_vision .about_value .item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #about .about_vision .about_value .arrows {
    width: 40px;
    height: 40px;
    background: var(--color-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    position: absolute;
    z-index: 9;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
  }
  #about .about_vision .about_value .arrows.slideNav-next {
    left: unset;
    right: 0;
  }
}
#about .history_about {
  color: #fff;
  position: relative;
  margin-bottom: 5rem;
}
#about .history_about .title {
  position: relative;
  z-index: 9;
  margin-left: 40px;
}
#about .history_about .title h6 {
  position: relative;
  z-index: 1;
  color: var(--color-yellow);
  text-transform: uppercase;
  letter-spacing: 0.4em;
  padding-left: 90px;
}
#about .history_about .title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background: var(--color-yellow);
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
#about .history_about .left {
  height: 100%;
}
#about .history_about .left .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  opacity: 0;
}
#about .history_about .left .img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#about .history_about .left .img.active {
  opacity: 1;
}
#about .history_about .right {
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 4rem 0 4rem;
  min-height: 50vh;
}
#about .history_about .right .item {
  margin-bottom: 2rem;
  cursor: pointer;
}
#about .history_about .right .item .number {
  background: rgba(255, 255, 255, 0.5);
  flex: 0 0 auto;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  position: relative;
  border-radius: 6px;
  margin-right: 1rem;
}
#about .history_about .right .item .number::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}
#about .history_about .right .item .text article {
  font-size: 0.9rem;
  opacity: 0.5;
}
#about .history_about .right .item .text .name {
  text-transform: uppercase;
  margin-bottom: 10px;
  opacity: 0.7;
}
#about .history_about .right .item .text .year {
  width: -moz-max-content;
  width: max-content;
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5490196078);
  color: rgba(255, 255, 255, 0.7019607843);
  font-weight: bold;
  margin-bottom: 10px;
}
#about .history_about .right .item.active .number {
  background: var(--color-yellow);
}
#about .history_about .right .item.active .number::after {
  border: 1px solid var(--color-yellow);
}
#about .history_about .right .item.active .text .name {
  color: var(--color-yellow);
  opacity: 1;
}
#about .history_about .right .item.active .text article {
  opacity: 0.8;
}
#about .history_about .right .item.active .text .year {
  color: var(--color-yellow);
  border-bottom: 1px solid var(--color-yellow);
}
#about .about_leader {
  color: #fff;
  margin: 150px 0 100px 0;
  height: 550px;
  min-height: 70vh;
  background: #212f3c;
  padding: 60px 0;
}
#about .about_leader .top_title .subtitle_frame {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
}
#about .about_leader .top_title .right {
  position: relative;
}
#about .about_leader .top_title .right .common {
  position: absolute;
  left: -50px;
  top: -80px;
}
#about .about_leader .top_title .right .common img {
  width: 50px;
}
#about .about_leader .top_title .right article {
  font-family: "SVN-Avant-book";
}
#about .about_leader .list_lead_about {
  margin-top: 2rem;
}
#about .about_leader .list_lead_about .item {
  padding: 5px;
  transition: all 0.5s ease;
}
#about .about_leader .list_lead_about .item .img {
  height: 250px;
  min-height: 33vh;
}
#about .about_leader .list_lead_about .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
#about .about_leader .list_lead_about .item .content {
  background: #853e25;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-yellow);
  transition: all 0.5s ease;
}
#about .about_leader .list_lead_about .item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#about .about_leader .list_lead_about .item:hover .content {
  background: var(--color-yellow);
}
#about .about_leader .list_lead_about .arrows {
  width: 40px;
  height: 40px;
  background: var(--color-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  position: absolute;
  z-index: 9;
  transform: translate(0, -50%);
  top: 50%;
  left: 0;
}
#about .about_leader .list_lead_about .arrows.slideNav-next {
  left: unset;
  right: 0;
}
#about .about_environ {
  color: #fff;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(19, 30, 40, 0.9);
  padding: 75px 0;
}
#about .about_environ .left article {
  margin-left: 90px;
  margin-top: 2rem;
  opacity: 0.7;
  width: 74%;
}
#about .about_environ .left .box_text {
  display: flex;
  flex-wrap: wrap;
  margin-left: 90px;
}
#about .about_environ .left .box_text .item {
  flex: 0 0 50%;
  width: 50%;
  margin-bottom: 2rem;
}
#about .about_environ .left .box_text .item:hover svg .bg {
  fill: #ed9a21;
}
#about .about_environ .left .box_text .item:hover p {
  color: var(--color-yellow);
}
@media (max-width: 640px) {
  #about .about_environ .left .box_text {
    margin-left: 0;
    justify-content: space-between;
  }
  #about .about_environ .left .box_text .item {
    flex: 0 0 49%;
    width: 49%;
  }
}
#about .about_environ .right {
  position: relative;
}
#about .about_environ .list_img_bot {
  margin-top: 70px;
  margin-left: 90px;
}
#about .about_environ .list_img_bot .img {
  position: relative;
  padding: 6px;
}
#about .about_environ .list_img_bot .img::after {
  content: "";
  position: absolute;
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 35px, 100% 100%, 10% 100%, 0 90%, 0 0);
          clip-path: polygon(0 0, 90% 0, 100% 35px, 100% 100%, 10% 100%, 0 90%, 0 0);
  background: rgba(255, 255, 255, 0.3);
}
#about .about_environ .list_img_bot .img.slick-current::after {
  background: var(--color-yellow);
}
#about .about_environ .list_img_bot .img img {
  width: 100%;
  height: 150px;
  min-height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 35px, 100% 100%, 10% 100%, 0 90%, 0 0);
          clip-path: polygon(0 0, 90% 0, 100% 35px, 100% 100%, 10% 100%, 0 90%, 0 0);
  z-index: 9;
  position: relative;
}
@media (max-width: 640px) {
  #about .about_environ .list_img_bot {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 5rem;
  }
  #about .banner_about .img_banner {
    flex-flow: column;
  }
  #about .banner_about .img_banner img {
    border: 6px solid rgba(255, 255, 255, 0.8588235294);
  }
  #about .banner_about .img_banner img:nth-child(2) {
    position: relative;
    top: unset;
    width: 100%;
    height: 350px;
    margin-top: 10px;
  }
  #about .banner_about .img_banner img:nth-child(1) {
    width: 100%;
    height: 350px;
  }
  #about .about_leader {
    margin: 100px 0 0 0;
    height: 800px;
  }
  #about .about_leader .top_title {
    flex-flow: column;
    text-align: justify;
  }
  #about .about_leader .top_title .title {
    flex-flow: column;
    padding-left: 0;
  }
  #about .about_leader .top_title .subtitle_frame {
    justify-content: center;
    margin-bottom: 2rem;
  }
  #about .about_leader .top_title .right .common {
    left: 0;
    top: -90px;
  }
  #about .about_leader .list_lead_about .item .img {
    height: 400px;
  }
  #about .about_us {
    padding-top: 0;
  }
  #about .about_us .left {
    padding-right: 0;
    padding-top: 60px;
  }
  #about .about_us .left article {
    margin-left: 0;
    text-align: justify;
  }
  #about .about_us .left h6 {
    width: 70%;
    margin: 0 auto 2rem auto;
  }
  #about .about_us .left .param {
    padding-left: 0;
  }
  #about .about_us .left .param .item {
    flex: 0 0 50%;
    width: 50%;
  }
  #about .about_us .left .param .item p {
    font-size: 10px;
  }
  #about .about_us .left .param .item .number {
    margin-top: 0.5rem;
  }
  #about .about_us .left .param .item article {
    width: 100%;
    text-align: left;
  }
  #about .about_us .right {
    margin-top: 2rem;
  }
  #about .history_about {
    display: flex;
    flex-flow: column-reverse;
    margin-top: 60px;
  }
  #about .history_about .left {
    position: relative;
    width: 100%;
    height: 450px;
    padding: 15px;
  }
  #about .history_about .left .img {
    padding: 7px;
  }
  #about .history_about .left::after {
    right: 0;
  }
  #about .history_about .title::after {
    display: none;
  }
  #about .history_about .title h6 {
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
  }
  #about .history_about .right {
    padding: 15px;
    margin-top: 2rem;
  }
  #about .about_environ {
    background-attachment: unset;
  }
  #about .about_environ .left article {
    margin-left: 0;
    width: 100%;
    text-align: justify;
    margin-bottom: 25px;
  }
  #about .about_environ .right .img.img_1 {
    right: 0;
  }
  .list_lead_mobi .slick-dots {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 2rem 0;
  }
  .list_lead_mobi .slick-dots li {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    margin: 0 6px;
    transition: all 0.5s ease;
  }
  .list_lead_mobi .slick-dots li button {
    border: none;
    background: no-repeat;
    color: transparent;
  }
  .list_lead_mobi .slick-dots li.slick-active {
    background: var(--color-yellow);
    transform: scale(1.5);
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  #about .about_vision .about_value {
    flex-wrap: wrap;
    justify-content: center;
  }
  #about .about_vision .about_value .item {
    flex: 0 0 30%;
    max-width: 30%;
  }
}/*# sourceMappingURL=about.css.map */